<nav class="navbar">
  <div class="logo">BankApp</div>

  <ul class="nav-links">
    @if (auth.isLoggedIn()) {
      <li><a routerLink="/dashboard">Home</a></li>
    
      @if (auth.hasRole('admin')) {
        <li><a routerLink="/admin-panel">User Management</a></li>
        <li><a routerLink="/audit-logs">Audit Logs</a></li>
      }




      @if (auth.hasRole('user')) {
        <li><a routerLink="/Transaction">Transactions</a></li>
      }
      
      <li class="user-info">
        <span>{{ auth.currentUser()?.email }} ({{ auth.currentUser()?.role }})</span>
        <button (click)="auth.logout()" class="logout-btn">Logout</button>
      </li>
     }
     @else {
      <li><a routerLink="/login">Login</a></li>
    }
  </ul>
</nav>
